@charset "utf-8";
/* CSS Document */
:root
{
	--white:#f0f0f0;
	--black:#222222;
	--font-size:16px;
}

.md-shadow
{
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #ddd;
}

.centering
{
	text-align: center;
}

body
{
	font-family: Avenir Next, Avenir, Helvetica neue, Helvatica, Verdana Pro, Verdana, Arial, Deng, "等线", "STHeiti Light", STXihei, "华文细黑", SimHei, "黑体", STHeiti, "华文黑体", sans-serif;
	background-color: var(--white);
	color: var(--black);
	margin: 0;
	font-style: normal;
	font-size: 1em;
	line-height: 1.5;
	word-wrap: break-word;
}

/* main sections setting */
div#top-bar
{
	background-color: #202734;
	height: 3em;
	position: relative;
	width: 100%;
}

section.site-title
{
	width: 82%;
	margin: 1.5em auto;
	padding: 4.5% 3%;
	background-color: white;
}

div#bottom-bar
{
	text-align: center;
	clear: both;
}

/* div top-bar */
div#top-bar a
{
	text-decoration: none;
	color: white;
}

p#site-title a
{
	font-size: 1.5em;
	text-align: center;
	padding: 0.3em 0.5em;
}

p#top-bar-link a
{
	font-size: 1em;
	text-align: center;
	padding: 0.84em 0.5em;
}

div#top-bar a:hover
{
	background-color: #001020;
}

div#top-bar-pull-left
{
	display: block;
	float: left;
	position: relative;
	margin: -0.60em 0 -0.52em 2%;
}

div#top-bar-pull-right
{
	display: block;
	float: right;
	position: relative;
	margin:-0.28em 2% -0.22em 0;
}

/* div bottom-bar */
div#bottom-bar a
{
	text-decoration: none;
	color: var(--black);
}

/* section.site-title */
section.site-title header
{
	text-align: center;
	font-family: var(--sans-serif);
}

section.site-title header h1
{
	font-size: 4em;
	font-weight: normal;
	display: table;
	margin: 0.2em auto 0 auto;
	border-bottom: 2px var(--black) solid;	
}

section.site-title header h3
{
	font-size: 1.25em;
	font-weight: normal;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
}
